dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala template
*.class
*.log

# Sensitive or high-churn files:
.idea/

## File-based project format:
*.iws

.DS_Store/